// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}

.category-customer-banner{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
